
.gv-core-WiseTextBox {
	padding: 2px;
}
.gv-core-WiseTextBox-readonly {
	padding: 4px;
	border: 0;
}
.gv-core-WiseTextArea {
}
.gv-core-WiseTextArea-Break {
  	/*CSS3 long word breaking*/
  	word-break: break-all;
}
.gv-core-WiseTextArea-readonly {
	border: 0;
}