
.test1 {
  border:1px solid #FF0000;
}
.test2 {
  border:1px solid #FFFF00;
}
.test3 {
  border:1px solid #00FF00;	
}
.test4 {
  border:1px solid #000000;
}
.test5 {
  border:1px solid grey;
}
.test6 {
  border:1px solid #0000FF;
}

.test6 {
  border:1px solid #EFEFEF;
}



.gwt-TextBox {
  border: 1px solid #66B3FF;
}
 
.gwt-PasswordTextBox {
  border: 1px solid #66B3FF;
}

.gwt-TextBox-readonly {
  color: #888;
}

.gwt-CheckBox { 
}
.gwt-CheckBox-disabled {
  color: #888;
}




.core-loadingimage {
  height: 10px;
}

.core-Notification {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 3px;
  font-weight: bold;
  color: #805506;
  border: 1px solid #aaa;
  background-color: #F8FAB9;
}

/* login ui widget */
.core-login-ui {
  font-size: 90%;
  width: 300px;
  padding: 3px;
  padding-right: 6px;
}
.core-login-ui-options a {
  text-decoration: underline;
  cursor: pointer;
}
.core-login-ui-options {
  background: white;
  padding: 4px;
}
.core-login-ui-inputconsumerkey {
  width: 120px;
  margin-right: 3px;
}
.core-login-ui-inputconsumersecret {
  width: 120px;
  margin-right: 3px;
}
.core-login-ui-inputoptions {
}
.core-login-ui-inputoptions a {
  font-size: 89%;
}
.core-login-ui-inputlabel {
  color: #AAA;
}


/* create account widget*/
.core-CreateUserAccount {
  padding: 7px;
}
.core-CreateUserAccount-Notification {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  color: #805506;
  border: 1px solid #AAA;
  background-color: #F8FAB9;
}
.core-CreateUserAccount-Error {
  color: red;
}
.core-CreateUserAccount-Field {
  width: 125px;   
  font-weight: bold;
}
.core-CreateUserAccount-CharCountError {
  color: #FF0000;
}
.core-CreateUserAccount-CharCountPass {
  color: #00FF00;
}
.core-CreateUserAccount-ErrorInput {
  border: 1px solid #FF0000;
  margin: 2px;
  padding: 2px;
}

.core-account {
  padding: 7px;
}
.core-account-notify {
	color: Green;
}


.core-Account-Menu {
  padding: 4px;
}
.core-Account-Breadcrumbs {
}

.core-Account-ThingStuffs {
  padding: 4px;
  border: 1px solid #aaa;
}

.core-row-top {
  font-weight: bold;
  background-color: #D1D1D1;
}
.core-row-cell {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.core-row-odd {
  background-color: #E7EEFC;
}
.core-row-even {
  background-color: #F0FEFF;
}
.core-row-selected {
  background-color: #F8D869;
}
.core-row-hover {
  background-color: #fdf2cb;
}



.core-feedback-field {
	width: 80px;
	font-weight: bold;
}

.core-feedback-padlr {
	padding: 7px;
}















body {
  background-color: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.gwt-Title {
	padding: 4px;
	background-color: white;	
}
.gwt-Tool-Tip {
	background-color: white;
	color: green;
}

.gwt-ToolTip {
	background-color: black;
	color: green;
}

h2 {
  font-weight: normal;
}

table {
  font-size: 100%;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
}

.gwt-Button:active {
  border: 1px inset #ccc;
}

.gwt-Button:hover {
  border-color: #9cf #69e #69e #7af;
}

.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}

.gwt-Button[disabled]:hover {
  border: 1px outset #ccc;
}

.gwt-Canvas {
}

.gwt-CheckBox {
}

.gwt-CheckBox-disabled {
  color: #888;
}


.gwt-DialogBox .Caption {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #d0e4f6;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}

.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y;
}

.gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

html>body .gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
}

html>body .gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
}

html>body .gwt-DialogBox .dialogTopLeft {
  background: url(images/corner.png) no-repeat -13px 0px;
}

html>body .gwt-DialogBox .dialogTopRight {
  background: url(images/corner.png) no-repeat -18px 0px;
}

html>body .gwt-DialogBox .dialogBottomLeft {
  background: url(images/corner.png) no-repeat 0px -15px;
}

html>body .gwt-DialogBox .dialogBottomRight {
  background: url(images/corner.png) no-repeat -5px -15px;
}

* html .gwt-DialogBox .dialogBottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ie6/hborder_blue_shadow.png',sizingMethod='scale');
}

* html .gwt-DialogBox .dialogMiddleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ie6/vborder_blue_shadow.png',sizingMethod='scale');
}

* html .gwt-DialogBox .dialogTopLeft {
  width: 5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ie6/corner_dialog_topleft.png',sizingMethod='crop');
}

* html .gwt-DialogBox .dialogTopRight {
  width: 8px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ie6/corner_dialog_topright.png',sizingMethod='crop');
}

* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 23px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner.png',sizingMethod='crop');
}

* html .gwt-DialogBox .dialogBottomRightInner {
  width: 13px;
  height: 23px;
  margin-left: -5px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner.png',sizingMethod='crop');
}


.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HTML {
}

.gwt-Hyperlink {
}


.gwt-Image {
}

.gwt-Label {
	font-weight: bold;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
	border: 1px solid #66B3FF;
}

.gwt-RadioButton {
  padding: 4px 4px 3px 3px;
}

.gwt-RadioButton-disabled {
  color: #888;
}
.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  /*background-color: #E8EEF7;*/
  border-left: 2px solid #E8EEF7;
  border-right: 2px solid #E8EEF7;
  border-bottom: 2px solid #E8EEF7;
  padding-bottom: 10px;
  padding-top: 10px;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #87B3FF;
  background-color: #fff;
}

.gwt-TabBar .gwt-TabBarFirst {
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  cursor: hand;

  background-color: #e8eef7;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;

  background-color: #87b3ff;
  border-bottom: 2px solid #87b3ff;
  margin-right: 2px;
}

.gwt-TextArea {
	border: 1px solid #66B3FF;
}

.gwt-TextBox {
	border: 1px solid #66B3FF;
}

.gwt-TextBox-readonly {
  color: #888;
}

.gwt-Tree {
  background: white;
}

.gwt-Tree .gwt-TreeItem {
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}





.gwt-DecoratedStackPanel {
  border-bottom: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
}

.gwt-DecoratedStackPanel .stackItemTopLeft,
.gwt-DecoratedStackPanel .stackItemTopRight {
  height: 6px;
  width: 6px;
  zoom: 1;
}

.gwt-DecoratedStackPanel .stackItemTopLeftInner,
.gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 1px;
  height: 1px;
}

.gwt-DecoratedStackPanel .stackItemTopCenter {
  background: url(images/hborder.png) 0px -21px repeat-x;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeft {
  background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
  border-left: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,
.gwt-DecoratedStackPanel .stackItemMiddleRightInner {
  width: 1px;
  height: 1px;
}

.gwt-DecoratedStackPanel .stackItemMiddleRight {
  background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
  border-right: 1px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .stackItemMiddleCenter {
  font-weight: bold;
  font-size: 1.0em;
  background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

html>body .gwt-DecoratedStackPanel .stackItemTopLeft {
  background: #d3def6 url(images/corner.png) no-repeat 0px -49px;
  border-left: 1px solid #bbbbbb;
}

html>body .gwt-DecoratedStackPanel .stackItemTopRight {
  background: #d3def6 url(images/corner.png) no-repeat -6px -49px;
  border-right: 1px solid #bbbbbb;
}

html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft {
  border: 0px;
  background-color: white;
}

html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight {
  background-color: white;
}

* html .gwt-DecoratedStackPanel .stackItemTopLeftInner {
  width: 6px;
  height: 55px;
  margin-top: -49px;
  overflow: hidden;
  border-left: 1px solid #bbbbbb;
  background-color: #d3def6;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner.png',sizingMethod='crop');
}

* html .gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 12px;
  height: 55px;
  margin-top: -49px;
  margin-left: -6px;
  overflow: hidden;
  border-right: 1px solid #bbbbbb;
  background-color: #d3def6;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/corner.png',sizingMethod='crop');
}

* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRightInner {
  border: 0px;
  background-color: white;
}

* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner {
  padding-left: 1px;
}

* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRightInner {
  background-color: white;
}





.gwt-DecoratorPanel {
}

.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .bottomCenter {
  background: url(images/hborder.png) repeat-x;
}

.gwt-DecoratorPanel .middleLeft,
.gwt-DecoratorPanel .middleRight {
  background: url(images/vborder.png) repeat-y;
}

.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}

html>body .gwt-DecoratorPanel .topLeft {
  background: url(images/corner.png) no-repeat 0px 0px;
}

html>body .gwt-DecoratorPanel .topRight {
  background: url(images/corner.png) no-repeat -5px 0px;
}

html>body .gwt-DecoratorPanel .bottomLeft {
  background: url(images/corner.png) no-repeat 0px -5px;
}

html>body .gwt-DecoratorPanel .bottomRight {
  background: url(images/corner.png) no-repeat -5px -5px;
}

* html .gwt-DecoratorPanel .topLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}

* html .gwt-DecoratorPanel .topRightInner {
  width: 10px;
  height: 5px;
  margin-left: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}

* html .gwt-DecoratorPanel .bottomLeftInner {
  width: 5px;
  height: 10px;
  margin-left: 0px;
  margin-top: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}

* html .gwt-DecoratorPanel .bottomRightInner {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gwt/standard/images/corner.png',sizingMethod='crop');
}




.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled,
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled {
  padding: 3px 5px 3px 5px;
}

.gwt-PushButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  filter: alpha(opacity=40);
  zoom: 1;
}

.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  padding: 4px 4px 2px 6px;
}

.gwt-PushButton-down {
  border: 1px inset #666;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=40);
  zoom: 1;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled {
  padding: 3px 5px 3px 5px;
}

.gwt-ToggleButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}

.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  padding: 4px 4px 2px 6px;
}

.gwt-ToggleButton-down {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-position: 0 -513px;
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-disabled {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}





.gwt-RichTextArea {
	background-color: white;
}

.hasRichTextToolbar {
  border: 0px;
}

.gwt-RichTextToolbar {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}




.gwt-HorizontalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .hsplitter {
  background-color: #C3D9FF;
  cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .splitter {
  background-color: #C3D9FF;
  height: 8px;
  cursor: move;
}

.gwt-SuggestBoxPopup {
  border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
  padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #C3D9FF;
  padding: 2px;
}






/* 
notes
border:1px solid #aaa; 

nice color: #E1E1D6

#33CC4D green
http://www.colorschemer.com/online.html -> CC9933
*/

/*
red
border:1px solid #FF0000;

#theme
outline: #E4CA95
*/

.test1 {
	border:1px solid #FF0000;
}
.test2 {
	border:1px solid #FFFF00;
}
.test3 {
	border:1px solid #00FF00;	
}
.test4 {
	border:1px solid #000000;
}
.test5 {
	border:1px solid grey;
}
.test6 {
	border:1px solid #0000FF;
}
/* -------------------------------------------------------------------------- */

/* first load */
#loading {
	color: green;
	font-weight: bold;	
	font-size: 115%;
}

/* loading widget image */
.loadingImage {
	padding-left: 2px;
	padding-right: 2px;
}

/* Widget(Window) padding Left and Right */
.padLR {
	padding-left: 7px;
	padding-right: 7px;
}

/* horizontalpanel pad left and right */
.hr-pad {
	padding-left: 4px;
	padding-right: 4px;
}
.vp-pad {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*For Widget(Window) Top and Bottom Spacing */
.spacer {
	padding-top: 7px;
}

/* For DragHandler DND */
.move {
	cursor: move;
}

/* For all ListBoxes */
.listBox {
	font-size: 87%;
}

/* widget(window) titles */
.title {
	background-color: #CCCC99;
	border-bottom: 1px solid #E4CA95;
	padding: 3px;
}
.field {
	width: 70px;
	font-weight: bold;
}
.row {
	padding: 2px;
}

.global-RTA {
	padding: 4px;
}

/* record set rows */
.rs-selected {
	padding: 2px;
	background-color: #F8D869;
}
.rs-hover {
	padding: 2px;
	background-color: #fdf2cb;
}
.rs-even {
	padding: 2px;
	background-color: #E7EEFC;
}
.rs-odd {
	padding: 2px;
	background-color: #F0FEFF;
}

.home-list {
	font-size: 110%;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}
.home-listAnswer {
	font-size: 110%;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	color: green;
}
.home-listText {
	font-size: 100%;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 4px;
}
.link-homePageLinks {
	font-size: 110%;
	padding-top: 4px;
	padding-bottom: 4px;
}

.Notification {
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	color: #805506;
	border: 1px solid #aaa;
	background-color: #F8FAB9;
}

/* small text in widgets - html labels*/
.textSmall {
	font-size: 80%;
}



/* Home Page */
.GV_Home {
	width: 800px;
}
	.GV_Head {
		width: 100%;
		background-color: #FFFFFF;
	}
		.logo {
			background-color: #FFFFFF;
		}
	.GV_Body {
		width: 100%;
	}
		.bodyBoth {
		}
			.bodyLeft {
				width: 400px;
			}
			.bodyRight {
				width: 400px;
			}
	.GV_Foot {
		font-size: .8em;
		font-color: grey;
	}


/*----------------------------------------------------*/
/* account settings */


#LoginPanel {
}


.LoginPanelWidget {
	margin: 2px;
	padding: 4px;
	border: 1px solid #aaa;
}
	.LoginPanelWidget-Field {
		padding-left: 4px;
	}
	.LoginPanelWidget-DisplayError {
		font-weight: bold;
		color: #805506;
		border: 1px solid #aaa;
		background-color: #F8FAB9;
	}
	.LoginPanelWidget-Button-Panel {
	}
	.LoginPanelWidget-Button-SignIn {
	}
.Session-Button-Logout {
}


/* Account Widget */
.account-Tabs {
	width: 400px;
}
	.account-Tab-Settings {
	}
	/* Create new account */
	.account-Title {
	 	font-weight: bold;
	 	color: green;
	}
	.account-Row {
		padding: 1px;
	}
		.account-Field {
			width: 85px;
			font-weight: bold;
		}
		.account-Field-Required {
			color: red;
		}

/* Notifications */
.Notifications {
}
.Notifications-Reminders {
	border: 1px solid #aaa;
}





/*----------------------------------------------------*/
/* Trainer */

.trainer { /* for trainer and trainer editor */
	border:1px solid #E4CA95;
}
	.trainer-padder {
		padding: 3px;
	}
	.todoQueLabels {
		font-size: 110%;
	}



/*----------------------------------------------------*/
/* CalendarWidget */
.cal-pCalendarWidget {
	border:1px solid #E4CA95;
}
	.calendar-Title {
		border-bottom: 1px solid #E4CA95;
		background-color: #CCCC99;
		padding: 3px;
	}
.cal-pCalendarMenu {
	width: 100%;
	padding: 3px;
}

.cal-pCalendarContent {
}
	.cal-Grid {
	}
		.cal-WeekDays {
			font-weight: bold;
			text-align: center;
			background-color: #f5f5f5;
		}
		/* day cells */
		.cal-Today {
			vertical-align: top;
			border: 1px solid #aaa;
			background-color: #C3D9FF;
			cursor: pointer;
		}
		.cal-Day {
			vertical-align: top;
			border: 1px solid #aaa;
			background-color: #f5f5f5;
			cursor: pointer;
		}
		.cal-DaySelected {
			vertical-align: top;
			border: 1px solid #aaa;
			background-color: #FFF1BA;
			cursor: pointer;
		}
		.cal-Day-Cantedit {
			vertical-align: top;
			border: 1px solid #aaa;
			background-color: #e0e0e0;
		}
	/* Day Widget */
	.cal-fDayWidget {
		/*overflow: hidden;*/
	}
		.cal-pDayWidget {
			font-size: .75em;
		}
			.cal-pDayNumber {
				color: #090380;
				padding-left: 3px;
				padding-bottom: 1px;
			}
			.cal-pDayContent {
			}

/*----------------------------------------------------*/
/* Editor Home */

.trainer {
	width: 100%;
}

/* todo editor */
.todoEditor {
	border: 1px solid #E4CA95;
	width: 380px;
}
	.todoEditor-PhasePanel {
		border: 3px solid #F8D869;
	}
	
	/* when yes|no clicked phrase */
	.todoEditor-Subs-DesiredTitle {
		padding: 3px;
		color: #00ff00;
	}
	.todoEditor-Subs-DesiredNotTitle {
		padding: 3px;
		color: #ff0000;
	}
	.todoEditor-Subs-PhaseLabel {
		font-size: 80%;
	}

	/* Desired Subs */
	.todoEditor-Subs-Desired {
		padding: 2px;
		border: 2px solid #00ff00;
		overflow: visible;
	}
	/* NOT Desired Subs */
	.todoEditor-Subs-DesiredNot {
		padding: 2px;
		border: 2px solid #ff0000;
		overflow: visible;
	}
	.todoEditor-saveAll {
		padding-top: 4px;
	}

.phaseBar {
}
	.phaseBar_phase {
		float: left;
	    white-space: nowrap;
	    padding: 4px;
	    margin-right: 4px;
	    background: #F0F0ED;
	    border-left: 1px solid #aaa;
	    border-top: 1px solid #aaa;
	    border-right: 1px solid #aaa;
	    
	}
	.phaseBar_add {
		float: left;
	    white-space: nowrap;
	    padding: 4px;
	}
	.phaseBar_field {
		white-space: nowrap;
		width: 100px;
	}
	.phaseBar_edit {
		width:100%;
		height:100%;
		border: 1px solid #aaa;
		border-top-width: 3px;
	}
	.phaseBar_hover {
		cursor: pointer;
		background-color: #fdf2cb;
	}
	.phaseBar_selected {
		background-color: #F8D869;
	}
.phaseEdit {
	background-color: #F8D869;
}
	.phaseEdit_top {
		color: #000000;
		font-weight: bold;
	}


/* attributes editor */

.todoEditor-attributes {
}
	.todoEditor-attrGrid {
	}

/* attributes selector */
.todoEditor-attrSelector {
}
.todoEditor-attrSelector-title {
	padding: 2px;
	background-color: #E4CA95;
	font-size: 75%;
}
.todoEditor-ChoicesItems {
	border: 2px solid #E4CA95;
}

/*----------------------------------------------------*/
/* Template Selector Window */
.selector {
	border: 1px solid #E4CA95;
	width: 350px;
}


 /*----------------------------------------------------*/
/* ToDo Widgets */
.todo {
	/* done by rank setting */
}
	.todo-field {
		width: 110px;
		color: #9E843D;
	}
	.todo-attribute {
		color: #090380;
	}



	

	/* YesNoWidget */
	.YesNoWidget {
	}
		.YesNoWidget-pLabel {
		}
		.YesNoWidget-pButtons {
		}
			.YesNoWidget-bYes {
				margin-right: 3px;
				width: 25px;
				text-align: center;
			}
			.YesNoWidget-bNo {
				margin-left: 3px;
				width: 25px;
				text-align: center;
			}
			.YesNoWidget-bSkip {
				width: 50px;
				text-align: center;
			}
	
	/* Bible Has Read Widget */
	.bhr-Widget {
	}
		.bhr-Start {
			padding-left: 7px;
			padding-bottom: 3px;
		}
		.bhr-StartLabel {
			width: 37px;
		}
		.bhr-End {
			padding-left: 7px;
		}
		.bhr-EndLabel {
			width: 37px;
		}


/* friends widgets */
.friends {
	border:1px solid #E4CA95;
	width: 380px;
	margin-bottom: 10px;
}
	.friends-Field {
		width: 85px;
		font-weight: bold;
	}
	.friends-Row {
		padding: 2px;
	}


.friends-search {
	border:1px solid #E4CA95;
	width: 380px;
	margin-bottom: 10px;
}

.friends-invite {
	border:1px solid #E4CA95;
	width: 380px;
	margin-bottom: 10px;
}
.friends-invite-Field {
	width: 80px;
}


.profile-about {
	border:1px solid #E4CA95;
	width: 380px;
	margin-bottom: 10px;
}











