
test1 {
	border:1px solid #FF0000;
}
.test2 {
	border:1px solid #FFFF00;
}
.test3 {
	border:1px solid #00FF00;	
}
.test4 {
	border:1px solid #000000;
}
.test5 {
	border:1px solid grey;
}
.test6 {
	border:1px solid #0000FF;
}



.core-loadingimage {
}

.core-login-ui {
}