body {
	background-color:#F2E9C7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#862612;
	margin-top:15px;
	margin-left:15px;
	margin-bottom:0px;
}

.pic {
	text-align: center;
}

.style3 {font-family: "Times New Roman", Times, serif; font-style: italic; color: #000000; font-weight: bold; font-size:14px;}

a:link, a:visited {
	color: #005137;	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.coffeeheader {
	color:#005137;
	font-weight:bold;
	margin-top:10px;
}

.coffeeblend {
	color:#005137;
	font-weight:bold;
}

#indexbody {
	/* background-image:url(images/AA026332_opaque.jpg); */
	background-repeat:no-repeat;
	background-position:225px 80px;
	padding-bottom:20px;
}

#coffeebody {
	/*background-image:url(images/plantation-web-bg.jpg); */
	background-repeat:no-repeat;
	background-position:340px 100px;
	padding-bottom:20px;
}

#aboutbody {
	/*background-image:url(images/pergamino-bag-web.jpg); */
	background-repeat:no-repeat;
	background-position:490px 100px;
	padding-bottom:20px;
}

#contactbody {
	/* background-image:url(images/bella-bag-web-bg.jpg); */
	background-repeat:no-repeat;
	background-position:450px 140px;
	padding-bottom:20px;
}

#indexrag {
	margin-right:15px;
}

.bbbfooter {
	color:#808080;
	size:7px;
}