<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="/" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>gwt-HistoryAnchor Compiled: Thu May 08 11:47:19 PDT 2008</display-name>
	<description>Google Web Toolkit Project</description>
<welcome-file-list>
	<welcome-file>HistoryAnchor.html</welcome-file>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>index.html</welcome-file>
	<welcome-file>index.htm</welcome-file>
</welcome-file-list>
</web-app>
