
/* Combine Widget */
.combineWidget {
	border: 1px solid #3D1FC4;
}


/* Color Panel Widget Below */
.cpw-Menu {
	width: 400px;
	padding: 3px;
	color: grey;
	border: 1px solid #F70AF3;
}

.cpw-Content {
	width: 400px;
	height: 100px;
	padding: 3px;
	color: blue;
	border: 1px solid #F70AF3;
}