body {
}

.test1 {
  border: 1px solid #FFB3FF;
}
.test2 {
  border: 1px solid #FF00FF;
}
.test3 {
  border: 1px solid #FF0000;
}
.test4 {
  border: 1px solid #FB00AA;
}
.test5 {
  border: 1px solid #66FF33;
}
.test5 {
  border: 1px solid #0000FF;
}
.test6 {
  border: 1px solid #FF0000;
}

.flashcard-navigation {
  margin: 5px;
  padding: 5px;
  border: 1px solid #66B3FF;
}

.flashcard-menu {
  padding: 4px;
}

.flashcard-card {
  padding: 4px;
}

.flashcard-number {
  font-size: 170%;
}
.flashcard-operator {
  font-size: 140%;
}


.flashcard-answer {
  padding: 4px;
}
  .flashcard-tbanswer {
    width: 30px;
  }
  .flashcard-tbanswer:focus {
    /*border-color: #FFCC33;*/
  }

.flashcard-notify {
  padding: 4px;
}
.flashcard-notifyaffirm {
  font-size: 120%;
}

.flashcard-minmax {
 font-size: 50%;
}
