<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ProjectA.html</welcome-file>
  </welcome-file-list>
  
  
  <!-- Servlets Project A -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.gawkat.projecta.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/projecta/greet</url-pattern>
  </servlet-mapping>
  
  
    <!-- Servlets Project B -->
  <servlet>
    <servlet-name>rpcb</servlet-name>
    <servlet-class>com.gawkat.projectb.server.RpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>rpcb</servlet-name>
    <url-pattern>/projecta/rpcb</url-pattern>
  </servlet-mapping>
  
  






</web-app>
