
.dce_layout {
  width: 600px;
  border:1px solid grey;
  padding: 15px;
}

.dce_layout_links {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  background: #E3DBC5;
}

.dce_layout_breadcrumbs {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 15px;
}